version: '3'

rpc:
  listen: tcp://127.0.0.1:6001

http:
  access_logs: true
  middleware: ["static", "headers", "gzip"]
  static:
    dir: "public"
    forbid: [".htaccess", ".php"]
  pool:
    debug: false

logs:
  mode: production
  level: debug

  channels:
    http:
      level: debug
      encoding: console
      output: stdout
      err_output: stderr
