@tailwind base;
@tailwind components;
@tailwind utilities;

.js-tooltip {
    display: none;
    position: absolute;
    /*top: -2em;*/
    /*left: -1em;*/
}

.js-tooltip.show {
    display: inline;
    animation: fadein 1.1s;
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
