.plyr {
    width: 100%
}

.plyr-playlist-wrapper {
    background: rgba(0, 0, 0, 0.8);
    position: relative;
}

.plyr-playlist-wrapper .plyr-playlist {
    user-select: none;
    position: relative;
    padding: 0 1rem;
    box-sizing: border-box;
}

.plyr-playlist-wrapper ul {
    height: 100%;
    overflow-y: scroll;
}

.plyr-playlist-wrapper .plyr-playlist li {
    background-color: rgba(255, 255, 255, 0.03);
    margin-bottom: 0.2em;
}

.plyr-playlist-wrapper .plyr-playlist li.pls-playing,
.plyr-playlist-wrapper .plyr-playlist li:hover {
    color: #3498db;
    background-color: rgba(255, 255, 255, 0.09);
}

.plyr-playlist-wrapper .plyr-playlist li.pls-playing a {
    color: #3498db;
}

.plyr-playlist-wrapper .plyr-playlist li a {
    text-decoration: none;
    color: #c9c9c9;
    outline: none;
    padding: 0.5em 0.25em 1em;
    vertical-align: middle;
}

.plyr-playlist-wrapper .plyr-playlist li:last-child a {
    border-bottom: 0;
}

.plyr-playlist li a:hover,
.plyr-playlist li a:focus,
.plyr-playlist li a:active {
    color: #04a9f3;
}

.plyr-miniposter {
    width: 22px;
    height: 22px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 10px;
    border-radius: 0;
}
