.plyr {
    width: 100%;
    height: 100%;
}

.plyr.plyr--video .plyr__controls {
    padding-bottom: 2.5rem;
}

@media (min-width:640px){
    .plyr.plyr--video .plyr__controls {
        padding-bottom: 0;
    }
}

.plyr-playlist-wrapper {
    background: rgba(0, 0, 0, 0.92);
    position: relative;
}

.plyr-playlist-wrapper .plyr-playlist {
    user-select: none;
    position: relative;
}

.plyr-playlist-wrapper ul {
    height: 100%;
    overflow-y: scroll;
}

.plyr-playlist-wrapper .plyr-playlist li {
    background-color: rgba(255, 255, 255, 0.03);
    margin-bottom: 0.2em;
}

.plyr-playlist-wrapper .plyr-playlist li.pls-playing,
.plyr-playlist-wrapper .plyr-playlist li:hover {
    color: var(--blue-accent);
    background-color: rgba(255, 255, 255, 0.1);
}

.plyr-playlist-wrapper .plyr-playlist li.pls-playing a {
    color: var(--blue-accent);
}

.plyr-playlist li a:hover,
.plyr-playlist li a:focus,
.plyr-playlist li a:active {
    color: var(--blue-accent);
}

.plyr-miniposter {
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 0;
}
